/* App.css */

.App {
  background-image: url('./media/poke-stadium.png');
  background-size: cover;
  min-height: 100vh;
}

.logo {
  width: 40%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
